<main>
  <form (submit)="handleSubmit($event)">
    <div>
      <select name="id">
        <option *ngFor="let subscription of (subscriptions$ | async)">
        {{ subscription.id }}
        </option>
      </select>
    </div>
    <div>
      <label for="title">Notification Title</label>
      <input type="text" id="title" name="title" />
    </div>
    <div>
      <label for="body">Notification Body</label>
      <textarea name="body" id="body"></textarea>
    </div>
    <div>
      <label for="requireInteraction">Require Interaction</label>
      <input type="checkbox" name="requireInteraction" id="requireInteraction"/>
    </div>
    <div>
      <input type="submit" value="Send Notification" />
    </div>
  </form>
</main>
